
aside{
  padding-top: 140px;
  padding-left: 10px;
  color: black;
  width: 20%;
  background-color: lightgray;
  height: 70vh;
  position: absolute;
  top: 40px;
  left: 3%;
}

#SentimentAnalysis{
  color: black;
  background-color: lightgray;
  text-align: left;
  width: 20%;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 23px;
  position: absolute;
  top: 40px;
  left: 74%; 
}
#AverageRating{
  color: black;
  background-color: lightgray;
  text-align: left;
  width: 20%;
  padding-bottom: 117px;
  padding-left: 5px;
  position: absolute;
  top: 40px;
  left: 50%;
}
span{
  font-size: x-large;
}
#Reviews{
color: black;
background-color: lightgray;
text-align: left;
width: 20%;
padding-left: 5px;
padding-bottom: 117px;
position: absolute;
top: 40px;
left: 27%;
}
#WebsiteVisitors{
  color: black;
background-color: lightgray;
text-align: left;
width: 68%;
height: 44vh;
padding-left: 5px;
padding-bottom: 117px;
position: absolute;
top: 250px;
left: 27%;
}
#Array{
  font-size: x-small;
}
#Main{
 position: relative;
}